$color1: #211A1E;
$color2: #f2f4f3;
$color3: #C3423F;
$color4: #9BC53D;
$color5: #5BC0EB;

$logo-color: $color3;
$home-link-color: $color2;
$home-link-hover-background: $color1;
$font-color: $color1;
$main-background: $color2;

$shop-item-color: $color1;
$shop-item-border-internal: $color2;
$favorite-item: $color3;

$item-border: $color3;
$title-color: $color3;
$link-color: $color5;
$special-link: $color4;
