<div class="reset-container">
  <h3 class="title">
    Set a new password
  </h3>
  <h4 class="subtitle">Please enter and confirm your new password</h4>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" placeholder="Password" type="password">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName="confirmPassword" placeholder="Confirm password" type="password">
    </mat-form-field>

    <button mat-raised-button type="submit">Reset</button>
    <p class="error" *ngIf="resetPasswordError">{{resetPasswordError}}</p>
  </form>
</div>

