<mat-toolbar class="header">
  <mat-toolbar-row class="logo">
    <a [routerLink]="'/'">
      {{logo}}
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row class="links">
    <button [routerLink]="'/'" mat-button>Home</button>
    <button mat-button [matMenuTriggerFor]="shopMenu">Shop</button>
    <mat-menu #shopMenu="matMenu">
      <app-shop-categories-list></app-shop-categories-list>
    </mat-menu>
    <button mat-button [routerLink]="'/'">Cart</button>
    <button mat-button [routerLink]="'login'" *ngIf="!userLoggedIn">Login</button>
    <button mat-button *ngIf="userLoggedIn" (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
