<div class="item-container">
  <img [src]="item.urlImg || '../../assets/hubble-unsplash.jpg'" class="image" />
  <div>
    <p>{{item.name}}</p>
    <p>{{item.category}}</p>
    <p *ngIf="!!item.description">{{item.description}}</p>
    <button mat-raised-button (click)="addItem()">{{inCart ? 'Remove from Cart' : 'Add to Cart'}}</button>
    <mat-form-field *ngIf="!!count">
      <input matInput placeholder="Number of items" type="number"  min="1" max="5" [(ngModel)]="count" (change)="handleChangeCount()">
    </mat-form-field>
  </div>
</div>
