@import '../../styles/colors';

.item-container {
  display: flex;
  color: $shop-item-color;

  .image {
    height: 600px;
    padding: 15px;
    box-shadow: 10px 10px 10px $shop-item-border-internal;
    margin-right: 20px;
  }

  p {
    text-transform: capitalize;
  }

  mat-form-field {
    margin-top: 20px;
    display: block;
  }
}
