@import '../../styles/colors';

$icon-size: 64px;

.container {
  background-image: url("../../../assets/business-catalog-cloth-color.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .shop_link {
    text-decoration: none;

    .mat-icon {
      width: $icon-size;
      height: $icon-size;
      font-size: $icon-size;
      font-weight: bold;
      color: $home-link-color;
    }
  }
}
