.shop-list {
  margin: 2rem 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  app-shop-item {
    display: flex;
    justify-content: center;
  }
}

